<div style="margin-top:60px;">
  <a href="https://web.telegram.org/"
     style="
       font-size:14px;
       text-transform:uppercase;
       color:#1994FF;
       margin:0 0 16px 0;
       text-decoration:none;
       display:inline-flex;
       align-items:center;
       gap:6px;
     ">
    <img src="https://norde-maison-frontend.vercel.app/images/telegram-icon.svg" width="20" height="20" alt="Telegram"
         style="vertical-align:middle;">
    @NordeMaisonSupport
  </a>
  <p style="font-size:14px;color:rgba(17,17,17,0.64);font-weight:500;margin:0;">
    Все права защищены © Norde Maison, 2026
  </p>
</div>